body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* SECTION 1 */

.section-1 {
    background-color: #1F2937;
    color: white;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.image {
    display: flex;
    background-color: grey;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.header-text {
    flex: 0 1 300px;
}

.header-text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    font-family: 'Roboto', arial;
}

.header-info {
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
}

button {
    background-color: aqua;
    border-radius: 5px;

}


/* SECTION 2 */

.random-info {
    text-align: center;
}

.section-2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.info-image {
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}

.section-3 {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    background-color: #E5E7EB;
    align-items: center;
    padding: 200px;  
}

.section-3 p {
    font-size: 30px;
}

.section-3 .para {
    width: 700px;
}



.author { 
    font-family: 'Roboto', Arial;
    font-size: 36px;
    font-weight: bold;
    align-self: flex-end;
}

.message {
    display: flex;
    margin: 50px 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightblue;
    justify-content: space-evenly;
}

.button {
    display: flex;
    align-items: center;
}



footer {
    display: flex;
    justify-content: center;
    background-color: grey;
    padding: 20px;
}